<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mnjru.tabbed_1828_dictionary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dictionary_cover"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayTopics"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DisplayTopicDef"
            android:label="@string/title_activity_display_topic_def"
            android:parentActivityName=".MainActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mnjru.tabbed_1828_dictionary.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mnjru.tabbed_1828_dictionary.MainActivity" />
        </activity>
    </application>

</manifest>